<div>
  <h1>Artículos</h1>
  <%= link_to "Nuevo Artículo", new_article_path, class: "button" %>
</div>

<% @articles.each do |article| %>
  <article>
    <h2>
      <%= link_to article.title, article %>
    </h2>
    <p><%= article.body %></p>
    <p>Publicado: <%= article.created_at.strftime("%d/%m/%Y") %></p>
    <ul>
      <li><%= link_to "Ver", article %></li>
      <li><%= link_to "Editar", edit_article_path(article) %></li>
      <li><%= link_to "Eliminar", article_path(article), data: {
        turbo_method: :delete,
        turbo_confirm: "¿Estás seguro de eliminar este articulo?"
      } %></li>
    </ul>
  </article>
<% end %>