<%= link_to "<- Listado de Artículos", articles_path %>

<article>
  <section>
    <%= render @article %>
  </section>


  <h2>Comentarios</h2>
  <% if user_signed_in? %>
    <%= render "comments/list", article: @article %>
    <div class="notice">
      <%= render "comments/form", article: @article %>
    </div>
  <% else %>
    <div class="notice">
      <p>Para Comentar en este articulo inicia sesión o crea un usuario.</p>
      <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-primary" %>
      <%= link_to "Crear Usuario", new_user_registration_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</article>

