<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "https://cdn.simplecss.org/simple.css" %>
    
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar">
        <% if user_signed_in? %>
          <!-- Mostrar correo y botón de cerrar sesión -->
          <span><strong>BLOG</strong> | Bienvenido, <%= current_user.email %></span>
          <div>
            <%= link_to "Artículos", articles_path, class: "nav-link" %>
            <%= link_to "Crear Artículo", new_article_path, class: "nav-link" %>
          </div>
          <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>
        <% else %>
          <strong>BLOG</strong>
          <div>
            <%= link_to "Artículos", articles_path, class: "nav-link" %>
          </div>
          <!-- Mostrar botón de iniciar sesión -->
          <div>
            <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-login" %>
            <%= link_to "Crear Usuario", new_user_registration_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </nav>
    </header>
    <main>
      <% if flash.any? %>
        <div class="flash-messages">
          <% flash.each do |key, message| %>
            <div class="alert <%= key %>">
              <%= message %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
